.coming {
    overflow: hidden;
    margin-bottom: 160px;

    &__container {
        padding: 0 165px;
    }
    &__list {
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item + &__item {
        margin-top: 150px;
    }
    &__wrapper {
        max-width: 445px;
        width: 100%;
    }
    &__heading {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #495567;
        margin-bottom: 24px;
    }
    &__text {
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        margin-bottom: 40px;
    }
    &__btn {
        display: inline-block;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        background-color: $yellow;
        padding: 14px 39px;
        border: 3px solid $yellow;
    }
    &__btn:hover {
        color: $yellow;
        background-color: white;
        border: 3px solid $yellow;
    }

    &__image-wrapper {
        position: relative;
        width: 445px;
        height: 445px;
        border-radius: 50%;
        background-image: url(./../images/comingimg2.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__item:nth-child(1) &__image-wrapper {
        background-image: url(./../images/comingcity.jpg);

    }

    &__item:nth-child(1) &__image-wrapper::before {
        content: "";
        position: absolute;
        width: 740px;
        height: 150px;
        background-image: url(./../images/strelkacity.svg);
        background-size: contain;
        background-repeat: no-repeat;
        top: 10%;
        right: 60%;
    }
    &__item:nth-child(2) &__image-wrapper::before {
        content: "";
        position: absolute;
        width: 740px;
        height: 150px;
        background-image: url(./../images/girlstrelka.svg);
        background-size: contain;
        background-repeat: no-repeat;
        top: 15%;
        left: 55%;
    }

    &__item:nth-child(1) &__image-wrapper::after {
        content: "";
        position: absolute;
        width: 445px;
        height: 445px;
        background-image: url(./../images/girlafter.svg);
        background-size: contain;
        background-repeat: no-repeat;
        top: 0;
        right: 115%;
        z-index: -1;
    }
    &__item:nth-child(2) &__image-wrapper::after {
        content: "";
        position: absolute;
        width: 445px;
        height: 445px;
        background-image: url(./../images/girlafter.svg);
        background-size: contain;
        background-repeat: no-repeat;
        top: 0;
        left: 115%;
        z-index: -1;
    }
}

@media only screen and (max-width: 1230px) {
    .coming {

        &__container {
            padding: 0 95px;
        }
        &__list {
        }
        .itemone {
            display: block;
            text-align: center;
        }
        .itemtwo {
            flex-direction: column-reverse;
            text-align: center;
        }
        &__wrapper {
            max-width: none;
            width: 100%;
        }
        &__image-wrapper {
            margin: auto;
            margin-bottom: 56px;
        }
        &__heading {
            margin-bottom: 40px;
        }
    }
}

@media only screen and (max-width: 720px) {
    .coming {

        &__container {
            padding: 0 32px;
        }
        &__heading {
            font-size: 32px;
            line-height: 32px;
        }

        &__image-wrapper {
            width: 310px;
            height: 310px;
        }
        &__image-wrapper::after {
            width: 310px;
            height: 310px;
        }
        &__item:nth-child(1) &__image-wrapper::after {
            width: 311px;
            height: 311px;
        }
        &__item:nth-child(2) &__image-wrapper::after {
            width: 311px;
            height: 311px;
        }
        &__item:nth-child(1) &__image-wrapper::before {
            top: 0;
            right: 60%;
        }
        &__item:nth-child(2) &__image-wrapper::before {
            top: 0%;
        }
    }
}