.sign {
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 102px 165px;
        background-color: $dark-navy;
    }

    &__heading {
        max-width: 415px;
        width: 100%;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #FFFFFF;
    }
    
    &__list {
        // display: flex;
    }
    &__item {
        display: inline-block;
        border-radius: 4px;
        background-color: $light-grey;
    }
    &__item + &__item {
        margin-left: 18px;
    }
    &__item-link {
        display: flex;
        padding: 9px 15px;
    }
    &__item-icon {
        margin-right: 12px;
    }
    &__text-one {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: -0.446429px;
        color: #495567;
    }
    &__text-two {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.892857px;
        color: #495567;
    }
}

@media only screen and (max-width: 1160px) {
    .sign {

        &__container {
            display: block;
            text-align: center;
            padding: 102px 165px;
        }
        &__heading {
            margin: auto;
            margin-bottom: 40px;
        }
        &__list {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media only screen and (max-width: 768px) {
    .sign {
        &__container {
            padding: 88px 32px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .sign {
    }
}