.footer {
    
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 22px 165px;
        background-color: #333A44;
    }
    
    &__wrapper {
        display: flex;
    }
    
    &__scoot-link {
        display: block;
    }

    &__scoot-logo {
        width: 108px;
        height: 29px;
    }
    
    &__list {
        display: flex;
        margin-left: 58px;
    }
    
    &__item {
    }
    
    &__item + &__item {
        margin-left: 32px;
    }
    
    &__item-link {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        color: $dim-grey;
    }
    &__item-link:hover {
        color: $yellow;
    }

    &__icon-list {
        display: flex;
        align-items: center;
    }
    &__icon-item + &__icon-item {
        margin-left: 24px;
    }
}

@media only screen and (max-width: 1060px) {
    .footer {
        
        &__container {
            padding: 22px 40px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        
        &__container {
            display: block;
            padding: 64px 60px;
        }

        &__nav {
        }

        &__wrapper {
            display: block;
            text-align: center;
            margin-bottom: 85px;
        }

        &__scoot-link {
            margin-bottom: 42px;
        }

        &__list {
            display: block;
            text-align: center;
            align-items: center;
            margin-left: 0;
        }
        &__item + &__item {
            margin-top: 16px;
            margin-left: 0;
        }

        &__icon-list {
            justify-content: center;
            display: flex;
            align-items: center;
        }
        
    }
}